GEMINI_API_KEY="python sample_app.pyAQ.Ab8RN6L4s-fUn19vlgElAej3YYmVkBxqUzH1pyv0ZLXxzGiIUA"
MONGO_URI=mongodb+srv://<db_YASHUWANTH>:<db_Yash9502MY>@cluster0.qk1xln0.mongodb.net/?
DATABASE_URL=sqlite:///./employees.db
SECRET_KEY="42da5b1069b23cc8839a222a08513eedca666dde1efe7be4c36f6749fa84116b"
